*
        @ORG-codedevs2/sm-p01-esteban @<ORG>/coderowners
/src/        @ORG-codedevs2/sm-p01-esteban @<ORG>/coderowners
/docs/       @ORG-codedevs2/sm-p01-esteban @<ORG>/coderowners
/.github/    @ORGcodedevs2/coderowners
/docs/rubrica-evaluacion.md    @<ORG>/coderownersgit